<p>&nbsp;&nbsp;Cadastrar</p>
<form>
    <label> &nbsp; &nbsp;id&nbsp;&nbsp;</label><input type="text" name="id" [(ngModel)]="vaga.id"><br><br>
    <label> &nbsp;&nbsp;Nome</label><input type="text" name="nome" [(ngModel)]="vaga.nome"><br><br>
    <label> &nbsp;&nbsp;Foto</label><input type="text" name="foto" [(ngModel)]="vaga.foto"><br><br>
    <label>&nbsp;&nbsp;Descrição</label><input type="text" name="descricao" [(ngModel)]="vaga.descricao"><br><br>
    <label> &nbsp;&nbsp;Salário</label><input type="text" name="salario" [(ngModel)]="vaga.salario"><br><br>
    <button type="button" (click)="cadastrar()">&nbsp;Cadastrar Vaga</button>
    <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
    <button type="button" (click)="excluir(vaga.id)"> Excluir Vaga</button>
</form>