

<div class="header">
  
  
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">LH Vagas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mural">Mural de Vagas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/painel">Cadastro de Vagas</a>
    </li>
  
  </ul><h1>Senai-Angular</h1><img src="assets\img\vagas\arrow.jpg" alt="">  
  <p>Treinamentos<br> Aluno : Antonio Ramos Amorim<br>Professor: Felipe Santos de Jesus</p>
</div>
<style>
.header {
  padding: 60px;
  text-align: left;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
</style>


